<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <!--SEO-->
    <meta name="keywords" content="广东工业大学,数字校园,可视化,图表制作,在线报告,大数据,可视化,echarts,visual" />
    <meta name="description" content="可视化教学实验平台旨在为用户打造一个可在线编辑、即时生成数据报告的工具，预设有海量的模板和配色方案，可用作大数据分析可视化，业务报表生成，日常工作报告等等" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <!--END SEO-->
    <link rel="shortcut icon" href="/img/gdut_favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/app.css">·
    <title>可视化教学实验平台</title>
</head>
