<header class="navbar no-border navbar-inverse navbar-fixed-top" id="nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand" data-uicontrol="topnav_toggle">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
                <span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><img src="/img/logo_txt.png"></a>
        </div>
        <div class="collapse navbar-collapse" aria-expanded="true" id="navbar-brand">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown-full"><a href="/" class="dropdown-toggle" aria-expanded="false">首页</a></li>
                <li class="dropdown-full"><a href=""  class="dropdown-toggle" aria-expanded="false">功能特性</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" >
                <li><button class="btn btn-default" data-toggle="modal" data-target="#login">登录</button></li>
                <li><button class="btn btn-default" data-toggle="modal" data-target="#signin">注册</button></li>
            </ul>
        </div>
    </div>
</header>