<div ng-controller="DashBoardCtrl as dash">
    <header class="navbar-fixed-top nav-dashboard" id="nav" role="navigation">
        <span ng-click="dash.pageElement.menuShow = true" class="btn btn-success menubtn"></span>
        <div class="container">
            <span style="float: right"><a href="/" class="navbar-brand">可视化教学平台</span>
        </div>
    </header>
    <div class="container" ng-hide="dash.pageElement.projectShow">
        <div class="chartToolbar">
            <uib-tabset>
                <uib-tab index="0" heading="基本">
                        <div class="chartBarGroup col-sm-2 form-group">
                            <div class="col-sm-12">
                                <span>标题</span>
                            </div>
                            <div class="col-sm-12">
                                <input type="text" placeholder="主标题" ng-model="dash.baseStyle.title.text" class="form-control" />
                            </div>
                        </div>
                        <div class="chartBarGroup col-sm-2 form-group">
                            <div class="col-sm-12">
                                <span>图表大小</span>
                            </div>
                            <div class="col-sm-12">
                                <rzslider rz-slider-model="dash.chartWidth" rz-slider-options="dash.chartWidthOption"></rzslider>
                            </div>
                        </div>

                    <div class="chartBarGroup col-sm-3 form-group">
                        <div class="col-sm-12">
                            <span>操作</span>
                        </div>
                        <div class="col-sm-12">

                            <button class="btn btn-default" ng-click="dash.dispose()">删除图表</button>
                            <button class="btn btn-default" ng-click="dash.cosine()">test</button>
                        </div>
                    </div>


                </uib-tab>
                <uib-tab index="1" heading="数据视觉">
                    <div class="chartBarGroup col-sm-2 form-group">
                        <div class="col-sm-12">
                            <span>坐标轴</span>
                        </div>
                        <div class="col-sm-12">


                        </div>
                    </div>
                    <div class="chartBarGroup col-sm-2 form-group">
                        <div class="col-sm-12">
                            <span>特征值显示</span>
                        </div>
                        <div class="col-sm-12">
                            <input type="checkbox">最大值
                            <input type="checkbox">最小值
                            <input type="checkbox">平均值average
                        </div>

                    </div>
                    <div class="chartBarGroup col-sm-2 form-group">
                        <div class="col-sm-12">
                            <span>visualMap可视化维度</span>
                        </div>
                    </div>
                    <div class="chartBarGroup col-sm-2 form-group">
                        <div class="col-sm-12">
                            <span>tooltip</span>
                        </div>
                    </div>
                </uib-tab>


            </uib-tabset>
        </div>
        <div style="height: 155px"></div>
        <div ng-hide="dash.pageElement.projectShow" style="height:600px;" ng-style="{'width': dash.chartWidth+'px'}">
            <echarts chartid="cosine"></echarts>
        </div>
    </div>

    <div class="container" ng-show="dash.pageElement.projectShow" style="position:absolute;z-index: 5">
            <a class="col-lg-2 thumbnail btn-default" ng-click="dash.start()">
                <i class="glyphicon glyphicon-pencil"></i>创建图表
            </a>
       </div>
    <div class="main-menu" ng-show="dash.pageElement.menuShow">
        <ul class="tab-bar">
            <li class="close-menu tab-item" ng-click="dash.pageElement.menuShow = false"><i class="glyphicon glyphicon-menu-left"></i></li>
            <li class="tab-item" ng-class="{'active': dash.active == 1}" ng-click="dash.active = 1"><span>信息</span></li>
            <li class="tab-item" ng-class="{'active': dash.active == 2}" ng-click="dash.active = 2"><span>新建项目</span></li>
            <li class="tab-item" ng-class="{'active': dash.active == 3}" ng-click="dash.active = 3"><span>打开/保存</span></li>
            <li></li>
            <li class="tab-item" ng-class="{'active': dash.active == 4}" ng-click="dash.active = 4"><span>图表创建</span></li>
            <li class="tab-item" ng-class="{'active': dash.active == 5}" ng-click="dash.active = 5"><span>数据源</span></li>
            <li></li>
            <li class="tab-item" ng-class="{'active': dash.active == 6}" ng-click="dash.active = 6"><span>帮助</span></li>
        </ul>
        <div class="tab-body">
            <div class="tab-panel" ng-show="dash.showpanel(1)">
                    <div class="row">
                        <div class="col-md-12">
                                <fieldset>
                                    <legend>信息</legend>
                                </fieldset>

                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">用户名</label>
                                        <div class="col-sm-8">
                                            <button class="btn btn-default">修改信息</button>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">当前项目信息</label>
                                        <div class="col-sm-8">
                                            <ul>
                                                <li>
                                                    名字
                                                </li>
                                                <li>
                                                    描述 创建时间 图表信息配置
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </fieldset>
                        </div>
                    </div>
            </div>
            <div class="tab-panel" ng-show="dash.showpanel(2)">
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>新建项目</legend>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">项目名称</label>
                                <div class="col-sm-10">
                                    <input type="text" placeholder="项目名称"/>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">简要描述</label>
                                <div class="col-sm-10">
                                    <input type="text" placeholder="简单介绍这个项目的主要信息"/>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <button class="btn btn-primary" ng-click="dash.active = 5">确认并前往配置数据源</button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="tab-panel" ng-show="dash.showpanel(3)">
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>打开/保存</legend>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">帮助</label>
                                <div class="col-sm-8">
                                    <span>因为当前项目是在线同步保存的，所以没有保存按钮。</span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <button class="btn btn-primary">导出json配置并保存</button>
                                    <button class="btn btn-primary">导入json配置并打开</button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="tab-panel" ng-show="dash.showpanel(6)"> 帮助 </div>
            <div class="tab-panel" ng-include="'views/panels/ChartsCreate.html'" ng-show="dash.showpanel(4)"></div>
            <div class="tab-panel" ng-include="'views/panels/DataBaseSet.html'" ng-show="dash.showpanel(5)"></div>
        </div>
    </div>
</div>




