<div class="container" ng-controller="ProfileController as profile">

      <div class="row user_info" >
            <div class="col-lg-5">
                  <div class="user_info">
                        <h3 class="ng-binding">{{userinfo.username}}</h3>
                        <p class="text-muted ng-binding">大数据,更大的世界</p>
                  </div><!-- end ngIf: !isMobile -->
            </div>
            <div class="col-lg-3">
                  <button class="btn btn-lg btn-primary">修改个人信息</button>
            </div>
      </div>

      <uib-tabset>
            <uib-tab heading="我的项目库">
                  <div class="row">
                        <div class="col-xs-6 col-md-3">
                              <a href="#" class="thumbnail">
                                    <img data-src="holder.js/100%x180" alt="项目" style="height: 180px; width: 100%; display: block;" src="img/gallery/scatter-painter-choice.png" data-holder-rendered="true">
                              </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                              <a class="thumbnail" ui-sref="app.project">
                                    <i class="glyphicon glyphicon-plus">new</i>
                              </a>
                        </div>
                  </div>
            </uib-tab>
      </uib-tabset>

</div>

