<!doctype html>
<html lang="zh-CN" ng-app="app">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
        <!--SEO-->
        <meta name="keywords" content="广东工业大学,数字校园,可视化,图表制作,大数据,可视化,echarts,visual" />
        <meta name="description" content="可视化教学实验平台旨在为用户打造一个可在线编辑、即时生成数据报告的工具，预设有海量的模板和配色方案，可用作大数据分析可视化，业务报表生成，日常工作报告等等" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="format-detection" content="email=no" />
        <!--END SEO-->
        <link rel="shortcut icon" href="/img/gdut_favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/app.css">
        <link rel="stylesheet" href="/styles/menu.css">
        <link rel="stylesheet" href="/assets/ui-select/dist/select.min.css">
        <link rel="stylesheet" href="/assets/angularjs-slider/dist/rzslider.min.css">
        <link rel="stylesheet" media="screen" href="/assets/handsontable/dist/handsontable.full.min.css">


        <title>可视化教学实验平台</title>
    </head>
<body>
<div ui-view ng-controller="localController"></div>
<script src="/assets/jquery/dist/jquery.min.js"></script>
<script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/angular/angular.min.js"></script>


<script src="/assets/echarts/dist/echarts.min.js"></script>
<script src="/scripts/app.js"></script>
<script src="/scripts/Routes.js"></script>
<script src="/scripts/Dashboard.js"></script>
<script src="/scripts/DataOrigin.js"></script>
<script src="/scripts/Authentication.js"></script>
<script src="/scripts/angular-echarts.js"></script>
<script src="/assets/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/assets/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/assets/angularjs-slider/dist/rzslider.min.js"></script>
<script src="/assets/angular-file-upload/dist/angular-file-upload.min.js"></script>
<script src="/assets/ui-select/dist/select.min.js"></script>
<script src="/assets/handsontable/dist/handsontable.full.min.js"></script>
<script src="/assets/handsontable/dist/ngHandsontable.min.js"></script>
</body>
</html>