<div class="container">
    <div class="row" ng-controller="projectController as pro">
        <div class="col-md-2">
            <fieldset>
                <legend>数据源选择</legend>
            </fieldset>
            <div class="list-group">

                <button type="button" class="list-group-item list_margin"  ng-click="pro.selectDb(0)" >
                    <img src="img/dbSelect_excel.png" alt="excel">
                </button>
                <button type="button" class="list-group-item list_margin"  ng-click="pro.selectDb(1)" >
                    <img src="img/dbSelect_txt.png" alt="txt">
                </button>
                <button type="button" class="list-group-item list_margin"  ng-click="pro.selectDb(2)" >
                    <img src="img/dbSelect_mysql.png" alt="Mysql">
                </button>
                <button type="button" class="list-group-item">更多……</button>
            </div>
        </div>
        <div class="col-md-10">
            <form name="form.formValidate" ng-submit="pro.submitForm()" novalidate="" class="form-validate form-horizontal">
            <fieldset>
                <legend>数据源配置 <small>所选数据源:{{pro.origin}}</small></legend>
            </fieldset>
            <div ng-show="pro.show(0)">
                    <h4 class="page-header mt0">Excel 文件上传</h4>
                <div class="col-md-4 bootstrap-filestyle input-group">
                    <input class="form-control " disabled="" type="text">
                    <span tabindex="0" class="group-span-filestyle input-group-btn">
                        <label for="filestyle-0" class="btn btn-default "><span class="glyphicon glyphicon-folder-open"></span>上传</label>
                    </span>
                </div>
                <div class="col-md-4 bootstrap-filestyle input-group">
                      <h4 class="page-header mt0">Select files</h4>
                     <hr/>
                      <input filestyle="" type="file" data-button-text="Single" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="pro.uploader" class="form-control" />

                </div>
            </div>
            <div ng-show="pro.show(1)">
                <fieldset>
                    <div class="form-group">
                        <h4 class="page-header mt0">Select files</h4>

                        <label class="col-sm-2 control-label">文本输入</label>

                    </div>
                </fieldset>
            </div>
            <div ng-show="pro.show(2)">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">主机地址</label>
                            <div class="col-sm-6">
                                <input type="text" name="projectName" required="" ng-model="pro.host" class="form-control" />
                            </div>
                            <div class="col-sm-4">
                                <small class="text-muted">*</small>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">端口号</label>
                            <div class="col-sm-6">
                                <input type="text" name="projectName" required="" ng-model="pro.port" class="form-control" />
                            </div>
                            <div class="col-sm-4">
                                <small class="text-muted">*</small>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">database</label>
                            <div class="col-sm-6">
                                <input type="text" name="projectName" required="" ng-model="pro.database" class="form-control" />
                            </div>
                            <div class="col-sm-4">
                                <small class="text-muted">*</small>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-6">
                                <input type="text" name="projectName" required="" ng-model="pro.user" class="form-control" />
                            </div>
                            <div class="col-sm-4">
                                <small class="text-muted">*</small>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-6">
                                <input type="password" name="projectName" required="" ng-model="pro.password" class="form-control" />
                            </div>
                            <div class="col-sm-4">
                                <small class="text-muted">*</small>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <fieldset>
                    <button class="btn btn-primary">下一步</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>