body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
a{
    text-decoration: none;
}
body {
    padding-top: 60px;
    min-height:900px ;

}
form.tab-form-demo .tab-pane {
    margin: 20px 20px;
}
.modal-content {
    width: 460px;
}

.footer{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 130px;
    color: #767676;
    text-align: center;
}
.nav-welcome{
    background-color: rgba(0, 0, 0, .6);
    border-color: #080808;
}
.nav-user{
    background-color: #222;
}
.nav-dashboard{
    background: #393f4f;
    color: #fff;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    padding: 0;
}
/*首屏banner*/
.banner{
    margin-top: -78px;
    background-image: url(../img/bs-masthead.png);
    background-size: cover;
    text-align: center;
    height: 600px;

}
.banner_con {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
}
.banner_txt{
    color:#ffffff;
    vertical-align:middle;
    display: table-cell;
}
.banner_txt h1{
    font-size:70px;
}
.banner_txt h2{
    font-weight: 200;
    line-height: 1.25;
    font-size:35px;
}
.banner_txt .masthead-button-links{
    margin-top:30px;
}
.bs-docs-featurette{
    text-align: center;
    line-height: 1.5;
    color: #555;
}
.bs-docs-featurette .lead{
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.half-rule{
    width: 100px;
    margin: 40px auto;
}


.logo{
    display: block;
    width: 274px;
    height: 100px;
    background: url(../img/logo.png) no-repeat;
    margin: 0 auto 10px;
}
.login{
    padding:0 27px;
}
.login .btn{
    width: 100%;
}

.step_img img{
    height: 100%;
    width: 100%;
}

.chartBox{
    height: 400px;
}
.list_margin{
    margin-bottom: 10px;
}

/*switch按钮的css样式*/
.switch * {
    cursor: pointer;
}
.switch input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.switch span {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 100px;
    transition: all .5s;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1) inset;
    vertical-align: middle;
}
.switch input:checked + span::after {
    left: 50%;
    transition: all .2s;

}
.switch input:checked + span {
    background-color: #5d9cec;
    border-color: #5d9cec;
    transition: all .5s;
}
.switch span::after {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #ddd;
    border-radius: 400px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .2s;
}
/*
侧边导航
*/

.toolbar .tab-content{
    padding: 15px 25px;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
    font-size: 14px;
}
.toolbar{
    position: absolute;
    margin: 0px;
    left: 0px;
    right: auto;
    top: 50px;
    bottom: 0px;
    min-height: 100%;
    z-index: 1;
    width: 320px;
    display: block;
    visibility: visible;
}


#chartListBox{
    max-height: 600px;
}
.chartList{
    padding-top: 10px;
}
.chartList img{
    width: 70%;
    height: 100%;
}

.edit-box{
    position: absolute;
    background-color: #A9A9A9;
    margin: 0px;
    left: auto;
    right: 0px;
    top: 50px;
    bottom: 0px;
    min-height: 100%;
    z-index: 1;
    width: 320px;
    display: block;
    visibility: visible;
}
.toolHide{
    position: absolute;;
    top: 50px;
    left: 0;
    width: 50px;
    z-index: 2;
}
.toolHide button{
    height: 42px;
}
.user_info{
    margin: 25px 10px;
}
.tip-error {
    color: #BD1023;
}