<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>广东工业大学数据可视化平台</title>
	<link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/styles/app.css">·
</head>
<body>
<div ui-view ng-app="app">
</div>
<script src="/assets/jquery/dist/jquery.min.js"></script>
<script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/angular/angular.min.js"></script>
<script src="/assets/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/assets/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/assets/echarts/dist/echarts.min.js"></script>
<script src="/scripts/app.js"></script>
<script src="/scripts/appRoutes.js"></script>
<script src="/scripts/chartsController.js"></script>
<script src="/scripts/formsController.js"></script>
<script src="/scripts/navController.js"></script>
<script src="/scripts/plugin/cosEcharts.js"></script>
<script src="/scripts/plugin/angular-file-upload.js"></script>
</body>
</html>