<!doctype html>
<html lang="zh-CN">
<%- include includes/head %>

<body>
<div ui-view ng-app="app">
</div>
<script src="/assets/jquery/dist/jquery.min.js"></script>
<script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/angular/angular.min.js"></script>
<script src="/assets/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/assets/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/assets/echarts/dist/echarts.min.js"></script>
<script src="/scripts/app.js"></script>
<script src="/scripts/appRoutes.js"></script>
<script src="/scripts/chartsController.js"></script>
<script src="/scripts/formsController.js"></script>
<script src="/scripts/navController.js"></script>
<script src="/scripts/plugin/angular-echarts/directive.js"></script>
<script src="/scripts/plugin/angular-echarts/util.js"></script>
<script src="/scripts/plugin/angular-file-upload.js"></script>
</body>
</html>